
.d2 {
    color: white;
    text-shadow: 0px 0px 20px yellow,
    0px 0px 10px orange,
    0px 0px 10px orangered,
    0px 0px 10px red;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 150px;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}